@import "../../index.scss";

.section-stories {
  padding: 5rem 15rem;

  position: relative;
  &__container {
    &-item {
      padding-bottom: 10rem;
    }
    .story {
      font-size: 2rem;
      max-width: 80rem;
      margin: 0 auto;
      box-shadow: 0 3rem 6rem rgba($color: #000000, $alpha: 0.5);
      background-color: rgba($color: $color-white, $alpha: 0.6);
      border-radius: 0.5rem;
      padding: 5rem 10rem 5rem 10rem;
      transform: skewX(-12deg);
      // Media Start
      @include respond(tab-port) {
        max-width: 100rem;
      }
      @include respond(phone) {
        max-width: 110rem;
      }
      @include respond(sm-phone) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 40rem;
        margin-left: -3rem;
       
        transform: skewX(0deg);
      }

      // Media End

      &__shape {
        overflow: hidden;
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        backface-visibility: hidden;

        // Media Start
        @include respond(tab-port) {
          width: 10rem;
          height: 10rem;
        }
        @include respond(sm-phone) {
          display: block;
          transform: skewX(0deg);
          font-size: 2rem;
          margin-bottom: 3rem;
        
        }

        // Media End
        img {
          height: 100%;
          transform: translateX(-3rem) scale(1.4);
          transition: all 0.5s;
        }
        figcaption {
          transition: all 0.5s;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 20%);
          color: $color-white;
          text-transform: uppercase;
          font-size: 2rem;
          text-align: center;
          font-weight: 500;
          opacity: 0;
        }
      }
      &__text {
        transform: skewX(12deg);
        @include respond(sm-phone) {
          display: block;
          transform: skewX(0deg);
          font-size: 2rem;
        }

        p {
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: 0.5px;
          // Media Start
          @include respond(tab-port) {
            font-size: 1.5rem;
          }

          // Media End
        }
      }
      &:hover {
        figcaption {
          opacity: 1;
          transform: translate(-50%, -50%) translateZ(0);
        }
        img {
          filter: blur(3px) brightness(80%);
          transform: translateX(-3rem) scale(1);
        }
      }
    }
  }
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    opacity: 0.15;
    overflow: hidden;
    .bg-content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
