@import "../../index.scss";

.section-book {
  padding: 15rem 0;
  
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  &__container {
    &-items {
      .book {
        overflow: hidden;
        margin: 0 auto;
        background-image: linear-gradient(
            105deg,
            rgba($color-white, 0.8) 50%,
            transparent 50%
          ),
          url(../../img/nat-10.jpg);
        background-size: cover;
        max-width: 100rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.2);
        &__form {
          width: 50%;
          padding: 5rem;
          @include respond(sm-phone) {
            padding: 5rem 2rem;
        }
          .form {
            .u-center-text {
              .heading-secondary-form {
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-size: 3.5rem;
                background: linear-gradient(
                  to right bottom,
                  $color-primary-light,
                  $color-primary-dark
                );
                background-clip: inherit;
                -webkit-background-clip: text;
                color: transparent;
              }
            }
            &__group:not(:last-child) {
              margin-bottom: 2rem;
            }
            &__input {
              font-family: inherit;
              color: inherit;
              font-size: 1.5rem;
              padding: 1.5rem 2rem;
              border-radius: 2px;
              background-color: rgba($color-white, 0.5);
              border: none;
              border-bottom: 4px solid transparent;
              display: block;
              width: 100%;
              transition: all 0.3s;
              &::-webkit-input-placeholder {
                color: #999;
              }
              &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);
                border-bottom: 4px solid $color-primary;
              }
              &:focus:invalid {
                border-bottom: 4px solid $color-secondary-dark;
              }
              &:placeholder-shown + .form__label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-4rem);
              }
            }

            &__label {
              font-size: 1.2rem;
              font-weight: 700;
              margin-left: 2rem;
              margin-top: 0.7rem;
              display: block;
              transition: all 0.3s;
            }
            &__radio-group {
              max-width: 100%;
              display: inline-block;
              margin-bottom: 2rem;
              padding: 1rem 1rem;
            }
            &__radio-label {
              font-family: inherit;
              font-size: 1.6rem;
              position: relative;
              cursor: pointer;
              padding-left: 4.5rem;
              &_button {
                height: 3rem;
                width: 3rem;
                border: 5px solid $color-primary;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                left: 0;
                top: -0.4rem;
                
                &::after {
                  transition: all 0.5s;
                  content: "";
                  display: block;
                  height: 1.3rem;
                  width: 1.3rem;
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background-color: $color-primary;
                  opacity: 0;
                }
              }
            }
            &__radio-input:checked
              ~ .form__radio-label
              .form__radio-label_button::after {
              opacity: 1;
            }
            &__radio-input {
              display: none;
            }
          }
        }
      }
    }
  }
}
