@import "../../index.scss";

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 5rem;
  margin-top: -20vh;

  .section-about-grid {
    margin: 0 auto;
    width: 100%;
    text-align: justify;

    .paragraph {
      font-size: 1.6rem;
      letter-spacing: 0.7px;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    .composition {
      position: relative;
      transition: all 0.5s;
      &:hover .composition__photo:not(:hover) {
        transform: scale(0.95);
        filter: blur(0.15rem);
      }
      &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
        position: absolute;
        transition: all 0.3s;
        outline-offset: 2rem;
        &:hover {
          transform: scale(1.05) translateY(-0.8rem);
          box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
          z-index: 20;
          outline: 1.5rem solid $color-primary;
        }

        &--p1 {
          left: 0;
          top: -2rem;
        }
        &--p2 {
          right: 0;
          top: 2rem;
        }
        &--p3 {
          left: 20%;
          top: 10rem;
        }
      }
    }
  }
}
